<div class="user">
    <div class="user_show">
        <div class="user_info">
            <h1><%= @user.name %></h1>
            <p><%= @user.introduction %></p>
        </div>
    </div>    
</div>    