<div class="user">
    <div class="user_show">
        <div class="user_info">
            <h1><%= @user.name %></h1>
            <p><%= @user.introduction %></p>
        </div>
    </div>   
    
    <%= link_to("編集", "/users/#{@user.id}/edit") %>
</div>    