
<div class="top_main">    
    <div class="top_messages">
    <h1>旅ログへようこそ</h1>
    <p>Welcome to Tabilog!</p>
    <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
    
    
</div>

