<% if logged_in? %>
<div class="top_main">  
    <div class="main_visual">
        <div class="top_messages">
            <h1>旅の思い出を<br>シェアしよう！</h1>
        
        </div>
        <div class="top_btn">
            <div class="signup_btn">
            <%= link_to 'My page', current_user, class: 'btn btn-default' %>
            </div>
        </div>     
    </div>    
    
</div>

<% else %>
<div class="top_main">  
    <div class="main_visual">
        <div class="top_messages">
            <h1>Welcome to Tabilog!</h1>
            <!--<p>Welcome to Tabilog!</p>-->
        
        </div>
        <div class="top_btn">
            <div class="signup_btn">
            <%= link_to 'Sign up', signup_path, class: 'btn btn-default' %>
            </div>
       
            <div class="login_btn">
                <%= link_to 'Log in', login_path, class: 'btn btn-default' %>
            </div>    
        </div>     
    </div>    
    
</div>
<% end %>
