// パーシャル

.media_all{
    margin: 50px auto;
    padding: 0 auto;
}


.list-unstyled{
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    margin-left: 175px;
}

.media-body{
    padding: 7px;
    margin: 0 50px 50px 0;

}

// 詳細ページ

.post_show{
    height: 100vh;
    background: #939597;
    position:relative;
}

.post_box{
    width: 80%;
    height: 70%;
    background: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position:absolute
}


