<header>
      <div class="header_logo">
        <%= link_to "旅ログ", "/" %>
      </div>
      <ul class="header_menus">
        <li>
          <!--<= link_to("旅ログとは", "/about") %>-->
           <%= link_to '新規登録', signup_path %>
        </li>
      </ul>
</header>